body{
  background-image: url(images/background.jfif)
  /*-moz-element()*/
}
li{
  color: #f2f2f2 !important;
}
.navbar{
    margin: 0px;
    color: #eae7dc;
    background-color: #D8C3A5;
    border-color: #D8C3A5;
}
.navbar-brand{
  width: 10px;
  height: 10px;
}
.swipe{
    width: 100%;
    height: 35em;
}
/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
  }
  .btn{
    color: #eae7dc;
    background-color: #E85A4F;
    border-color: #E85A4F;
  }
  .btn:hover{
    color: #E85A4F;
    background-color:#eae7dc;
    border-color: #D8C3A5;
  }
  
  /* Next & previous buttons */
  .previous, .next-one {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding-left: 5%;
    margin-top: -5%;
    color: #eae7dc;
    font-weight: bold;
    font-size: 700%;
    transition: 0.6s ease;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next-one {
    right: 0;
    padding-right: 5%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */

  .next-one:hover, .previous:hover {
    color: #717171;
  }
  
  /* Caption text */
  .text {
    padding: 15% 10px 0px 15%;
    position: absolute;
    bottom: 8px;
    width: 80%;
    text-align: center;
    height: 480px;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fadee {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .previous, .next-one,.text {font-size: 11px}
    .text{
      padding: 5px;
    }
  }
  .p1{
    font-weight: bold;
    font-size: 350%;
    font-family: Tahoma;
    color: #E85A4F;    
  }
  .p2{
    font-weight: bold;
    color: #eae7dc;
    font-size: 250%;
    font-family: Tahoma;
  }
  /*.mySlidess{
      position: relative;
  }*/
  .zone {
    padding:30px 50px;
    cursor:pointer;
    width: 100%;
}

/*.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}*/
/***********************************************************************
 *  Grid Panel
 **********************************************************************/
 /*.grid-wrapper {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-gap: 20px;
}
.box {
    width: 100%;
    padding: 10px;
}

.box > img {
    max-width: 180px;
    width: auto;
}*/
.wrapper {
  margin-left: 2%;
  margin-right: 2%;
  display: grid;
  margin-top: 4%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4%;
}
img{
  width: 100%;
  height: auto;
}
.book-image{
  padding: 5%;
  cursor: pointer;
  background-color: #E85A4F;
  text-align: center;
  border-radius:4%;
  border:1px solid #bbb;
  transition: all 0.3s linear;
}
.book-image :hover{
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px;
}
.p-hide{
  display: none;
}
.read-more{
  color: #E85A4F;
  background-color:#eae7dc;
  border-color: #D8C3A5;
}
.read-more:hover {
  color: #eae7dc;
  background-color: #E85A4F;
  border-color: #E85A4F;
}
.footer{
    text-align: center;
    background-color: #D8C3A5;
}
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 860px) {
    .p1{
        font-weight: bold;
        font-size: 40px;
        font-family: Tahoma;
        color: #E85A4F;        
      }
      .p2{
        color: #eae7dc;
        font-size: 25px;
        font-family: Tahoma;
      }
      .text{
          height: 430px;
      }
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 380px) {
    .swipe{
        width: 100%;
        height: 300px;
    }
    .p1{
        font-weight: bold;
        font-size: 20px;
        font-family: Tahoma;
        color: #E85A4F;
      }
      .p2{
        color: #eae7dc;
        font-size: 15px;
        font-family: Tahoma;
      }
      .text{
          height: 280px;
      }
      .next-one, .previous{
          font-size: 40px;
      }
  }
   /* On smaller screens, decrease text size */
   @media only screen and (max-width: 593px) {
    .swipe{
        width: 100%;
        height: 300px;
    }
    .p1{
        font-weight: bold;
        font-size: 20px;
        font-family: Tahoma;
        color: #E85A4F;
      }
      .p2{
        color: #eae7dc;
        font-size: 15px;
        font-family: Tahoma;
      }
      .text{
          height: 280px;
      }
      .next-one, .previous{
          font-size: 40px;
      }
  }
   /* On smaller screens, decrease text size */
   @media only screen and (max-width: 700px) {
    .swipe{
        width: 100%;
        height: 300px;
    }
    .p1{
        font-weight: bold;
        font-size: 20px;
        font-family: Tahoma;
        color: #E85A4F;
      }
      .p2{
        color: #eae7dc;
        font-size: 15px;
        font-family: Tahoma;
      }
      .text{
          height: 280px;
      }
      .next-one, .previous{
          font-size: 40px;
      }
  }