body {font-family: Verdana, sans-serif; margin:0}
.navbar{
  margin: 0px;
  border-color:#8E8D8A;
  background-color:#8E8D8A;
}
ul {
    height: 70px;
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    margin-top: 15px;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    border-radius: 10%;
  }
  
  .active {
    background-color: #4CAF50;
  }
  * {box-sizing: border-box}
  .mySlidess {display: none}
  .swipe {
    vertical-align: middle;
    width: 100%;
    height: 350px;
  }
  #logo{
    height: 5px;
    width: 5%;
    margin: 0px;
    padding: 0px;
  }
  
  /* Slideshow container */
  .slideshow-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
  }
  .btn{
    color: #eae7dc;
    background-color: #E85A4F;
    border-color: #E85A4F;
  }
  .btn:hover{
    color: #E85A4F;
    background-color:#eae7dc;
    border-color: #D8C3A5;
  }
  
  /* Next & previous buttons */
  .previous, .next-one {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding-left: 5%;
    margin-top: -5%;
    color: #eae7dc;
    font-weight: bold;
    font-size: 700%;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next-one {
    right: 0;
    padding-right: 5%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */

  .next-one:hover, .previous:hover {
    color: #717171;
  }
  
  /* Caption text */
  .text {
    padding: 15px 6px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fadee {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .previous, .next-one,.text {font-size: 11px}
    .text{
      padding: 5px;
    }
  }
  .p1{
    font-weight: bold;
    font-size: 400%;
    color: #E85A4F;
    
  }
  .p2{
    color: #eae7dc;
    font-size: 250%;
  }
  @media screen and (max-width: 768px) {
    .p1{
      font-weight: bold;
      font-size: 30px;
      color: #E85A4F;
    }
    .p2{
      color: #eae7dc;
      font-size: 25px;
    }
    .swipe {
      vertical-align: middle;
      width: 100%;
      height: 250px;
    }
    .previous, .next-one{
      font-size: 200%;
    }
  }
  @media screen and (max-width: 991px) {
    .p1{
      font-weight: bold;
      font-size: 30px;
      color: #E85A4F;
    }
    .p2{
      color: #eae7dc;
      font-size: 25px;
    }
    .swipe {
      vertical-align: middle;
      width: 100%;
      height: 250px;
    }
    .previous, .next-one{
      font-size: 00%;
    }
  }